# Environment files
.env
.env.local
.env.*.local

# Dependencies
/node_modules
/vendor

# Build files
/public/hot
/public/storage
/storage/*.key

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.continue/
storage/framework/sessions/*
.phpunit.result.cache


/.github/agents/
/docker/
/public/favicon/
/config/scout.php
/app/View/Components/back-link.php
