includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
    level: 5
    
    # Ignore specific errors if needed
    ignoreErrors:
        - '#Undefined variable: \$this#'
